<div class="header">
    <img src="/assets/rhbuheader.jpg" height="400">
</div>
<div class="body">
    <h2>About the event</h2>
    <p>
        The Backyahd Ultra is a virtual race put together by some of the Road Hazahds,
        a ragtag group of people united in our love of running. We've been missing in-person races
        during the COVID era and have been looking for ways to keep ourselves running, and decided to have
        our own mini version of an event like <a href="http://bigsbackyardultra.com/" target="_blank">Big Dog's Backyard Ultra</a>.
        (Though we're not quite crazy enough to put in 4.167 miles every hour)
    </p>
    <p>
        Every hour starting at 8:00 AM on Saturday, April 10th, we'll all run a loop of
        1-3 miles and repeat until we just can't do it anymore. The person who keeps going the longest
        doesn't get anything apart from bragging rights, but the real prize is the fun we'll have along the way. 
    </p>
    <p>
        We're using this event to raise money for <a href="https://thetrevorproject.org" target="_blank">The Trevor Project</a>,
        a nonprofit organization dedicated to suicide prevention in LGBTQ youth. We hope you'll follow along with us in this effort 
        and donate using <a href="https://give.thetrevorproject.org/team/339922" target="_blank">our team page</a> if you have the
        means!
    </p>
    <h2>The rules</h2>
    <ul>
        <li>All runners commit to a loop distance before the event. No switching mid-race!</li>
        <li>Runs do not need to begin right on the hour, but must be completed before the start of the next hour.</li>
        <li>Tracking is done on the honor system, because this is a silly event.</li>
    </ul>
</div>